
html {
    font-size: 62.5%;
}

body {
    background-color: #f5f5f5; 
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    margin-left: 0; 
}

.main-container {
    display: block;
    width: 100vw;
    margin: 0 auto;
}

.container {
    display: block;
    float: left;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    max-width: 1198px;
}

header {
    background: #fff;
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #254159;
}

h1 {
    font-size: 2.4rem;
    color: #254159;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    color: #254159;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.8rem;
    color: #254159;
    margin-bottom: 20px;
    padding-top: 10px;
}

h4 {
    font-size: 1.6rem;
    color: #385874;
    margin-bottom: 10px;
    padding-top: 10px;
}

p {
    margin-bottom: 10px;
    line-height: 1.4;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

#tenho-interesse {
    background-color: #b8c8d6;
    width: 100%;
}

#tenho-interesse form {
    background-color: #b8c8d6 !important;
   
}

#tenho-interesse .cognito .c-forms-form .c-forms-form-title h2,
#tenho-interesse .cognito label[for], .cognito input[type=radio], .cognito input[type=checkbox] {
    color: #385874;
}

ol {
    margin-left: 30px;
}

ol li {
    font-size: 16px;
    color: #454545;
    padding: 5px;
}

section {
    background-color: #fff;
    display: block;
    float: left;
    font-size: 1.5rem; /* equivalente a 15px */ 
    padding: 20px;
    width: 100%;
}

section nav {
    display: block;
    float: left;
    width: 30%;
}

nav li {
    background-color: #efefef;
    margin: 1px 20px 1px 0;
    padding: 10px;
}

nav li:hover {
    background-color: #dfdfdf;
}

nav a {
    text-decoration: none;
    color: #254159;
}

nav a:hover {
    color: #385874;
}

section article {
    display: block;
    float: left;
    width: 70%;
}

.text-form {
    text-align: center;
    margin-left: 372px;
    width: 637px;
}

footer {
    background: #254159 !important;  
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
}

footer p {
    color: #ffffff;
    font-size: 1.4rem;
    text-align: center;
    margin-left: 430px;
}

footer small {
    font-size: 80%;
    display: block;
}

.cognito {
    height: 350px !important;
    overflow: hidden !important;
}
/* Smartphone */
@media (max-width: 425px) {
    section nav,
    section article {
        width: 100% !important;
    }  

    
    .text-form{
        margin:22px;
        max-width: 425px;
        width: 300px !important;
        margin-left:0 !important;
    }

    footer p{
        margin-left: 0 !important;
        padding: 0;
    }

    nav li{
        width: 100%;
    }
}
@media (max-width:768px) {
    section nav,
    section article{
       width: 100%;
    }

    ul {
        padding: 0;
        overflow: hidden;
    }

    nav li{
        display: inline;
        float: left;
        margin: 0;
        
    }

    li a{
        display: block;
        padding: 8px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .text-form {
        margin-left: 130px;
        width: 450px;
    }

    footer p{
        margin-left: 105px;
    }
    
}


    


@media (min-width:600px) and (max-width:640px) {
    .text-form{
        width:400px;
        margin-left: 90px;
    }

   

    footer p{
        margin-left: 54px;
    }
}


html .cog-cognito *, html .cog-cognito *::before, html .cog-cognito *::after, :root:root:root:root:root .cog-cognito *, :root:root:root:root:root .cog-cognito *::before, :root:root:root:root:root .cog-cognito *::after{
background-color: #b8c8d6;
overflow: hidden !important;
}
span.cog-button__text{
    background-color: #C24B23 !important;
}
path.cog-i-cogicon__cog, .cog-abuse a, span.cog-branding__powered, .cog-branding--minimal{
    visibility: hidden !important;
    overflow: hidden !important;
}
html .cog-branding--minimal .cog-branding__powered, :root:root:root:root:root .cog-branding--minimal .cog-branding__powered {
    visibility: hidden !important;
    overflow: hidden !important;
    color: #b8c8d6 !important;
}
html .cog-branding--minimal, html .cog-branding--minimal *, :root:root:root:root:root .cog-branding--minimal, :root:root:root:root:root .cog-branding--minimal *{
    visibility: hidden !important;
    position: fixed !important;
    overflow: hidden !important;
    height: 0 !important;
}
html .cog-label, :root:root:root:root:root .cog-label{
    color: #385874 !important;
    overflow: hidden !important;

}
.cog-branding .cog-branding--minimal{
    visibility: hidden !important;
    overflow: hidden !important;
}




html .cog-form__container, :root:root:root:root:root .cog-form__container{
    background-color: #b8c8d6 !important;
    overflow: hidden;
}

